# FRONTEND
/frontend/node_modules/
/frontend/.next/
/frontend/out/
/frontend/dist/
/frontend/.env

# BACKEND
/backend/node_modules/
/backend/dist/
/backend/build/
/backend/.env
/backend/*.tsbuildinfo

# COMMON
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*