@import '../_variables.scss';

.aboutSection {
  padding: 5rem 2rem;

  .columns {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @media (min-width: 900px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .columnLeft,
  .columnRight {
    flex: 1;
    max-width: 600px;
  }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: $primary-color;
    font-family: $font-heading;
  }

  h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: $primary-color;
    font-family: $font-heading;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: $subtext-color;
    font-family: $font-main;
  }

  ul {
    list-style: disc;
    padding-left: 1.5rem;
    color: $subtext-color;

    li {
      margin-bottom: 0.75rem;

      strong {
        color: $primary-color;
      }
    }
  }
}
