@import '../_variables.scss';

.hero {
  background: url('/images/aesthetic.jpg') center/cover no-repeat;
  height: 100vh;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: $spacing-lg;
}

.title {
  font-family: $font-mainheading;
  font-size: 3rem;
  font-weight: bold;
  color: $light-text;
}

.subtitle {
  color: $light-text;
  margin-top: $spacing-md;
  margin-bottom: $spacing-lg;
  font-size: 1.25rem;
  max-width: 600px;
  font-family: $font-subheading;
}

.searchInput {
  padding: $spacing-sm $spacing-md;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  width: 100% !important;
  max-width: 600px !important;
  min-width: 500px !important;
  color: $dark-text;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  &::placeholder {
    color: $subtext-color;
  }
}

// Style the form wrapper to ensure it doesn't constrain the input
.overlay form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
