@import '../_variables.scss';

.main {
  padding: 0 $spacing-md;
  max-width: 1200px;
  margin: 0 auto;
  font-family: $font-main;
  color: $dark-text;
}

/* HERO SECTION */
.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 6rem $spacing-md 4rem;
  background: linear-gradient(to bottom, $muted-bg, $light-text);
}

.heading {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: $spacing-sm;
  line-height: 1.3;
  color: $dark-text;
  font-family: $font-heading;
}

.subtext {
  font-size: 1.2rem;
  max-width: 700px;
  color: $subtext-color;
  margin-bottom: 2rem;
}

.ctaButton {
  background-color: $primary-color;
  color: $light-text;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $button-pink-hover;
  }
}

/* END OF HERO SECTION */

/* ABOUT SECTION */
.aboutSection {
  padding: 5rem 2rem;

  .columns {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @media (min-width: 900px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .columnLeft,
  .columnRight {
    flex: 1;
    max-width: 600px;
  }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: $primary-color;
    font-family: $font-heading;
  }

  h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: $primary-color;
    font-family: $font-heading;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: $subtext-color;
    font-family: $font-main;
  }

  ul {
    list-style: disc;
    padding-left: 1.5rem;
    color: $subtext-color;

    li {
      margin-bottom: 0.75rem;

      strong {
        color: $primary-color;
      }
    }
  }
}

/* END OF ABOUT SECTION */

/* FAQ SECTION */
.faqSection {
  padding: $spacing-xl $spacing-md;
  background-color: $muted-bg;
  color: $dark-text;

  h2 {
    font-size: 2rem;
    font-family: $font-main;
    color: $primary-color;
    margin-bottom: $spacing-lg;
  }

  .faqItem {
    margin-bottom: $spacing-lg;

    h2 {
      font-size: 4rem;
      font-family: $font-heading;
      color: $primary-color;
    }

    h3 {
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: $spacing-sm;
      color: $primary-color;
      font-family: $font-heading;
    }

    p {
      font-size: 1rem;
      color: $dark-text;
      line-height: 1.6;
      font-family: $font-main;
    }
  }
}

/* END OF FAQ SECTION */