@import '../_variables.scss';

.testimonialsSection {
  background-color: $muted-bg;
  padding: $spacing-xxl 2rem;
  
  @media (max-width: 768px) {
    padding: $spacing-xl $spacing-md;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
  
  @media (min-width: 768px) {
    gap: $spacing-xxl;
  }
}

.testimonial {
  display: flex;
  flex-direction: column;
  
  &:first-child {
    align-items: flex-start;
    text-align: left;
  }
  
  &:last-child {
    align-items: flex-end;
    text-align: right;
  }
}

.author {
  
  .name {
    font-size: 1rem;
    color: $subtext-color;
    margin: 0;
    font-weight: 400;
    font-family: $font-main;
  }
}

.quote {
  font-size: 2.5rem;
  line-height: 1.3;
  color: $primary-color;
  font-family: $font-heading;
  font-style: italic;
  margin: 0;
  max-width: 800px;
  margin-bottom: $spacing-lg;
  
  @media (max-width: 768px) {
    font-size: 1.8rem;
  }
  
  @media (max-width: 480px) {
    font-size: 1.5rem;
  }
}